<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>后台管理系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{static 'cms/css/bootstrap.min.css'}}">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="{{static 'cms/css/bootstrap-responsive.min.css'}}">
    <!-- small charts plugin -->
    <link rel="stylesheet" href="{{static 'cms/css/jquery.easy-pie-chart.css'}}">
    <!-- calendar plugin -->
    <link rel="stylesheet" href="{{static 'cms/css/fullcalendar.css'}}">
    <!-- Calendar printable -->
    <link rel="stylesheet" href="{{static 'cms/css/fullcalendar.print.css'}}" media="print">
    <!-- chosen plugin -->
    <link rel="stylesheet" href="{{static 'cms/css/chosen.css'}}">
    <!-- CSS for Growl like notifications -->
    <link rel="stylesheet" href="{{static 'cms/css/jquery.gritter.css'}}">
    <!-- Theme CSS -->
    <!--[if !IE]> -->
    <link rel="stylesheet" href="{{static 'cms/css/style.css'}}">
    <!-- <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="{{static 'cms/css/style_ie.css'}}">
    <![endif]-->

    <!-- jQuery -->
    <script src="{{static 'cms/js/jquery.min.js'}}"></script>
    <!-- smoother animations -->
    <script src="{{static 'cms/js/jquery.easing.min.js'}}"></script>
    <!-- Bootstrap -->
    <script src="{{static 'cms/js/bootstrap.min.js'}}"></script>
    <!-- small charts plugin -->
    <script src="{{static 'cms/js/jquery.easy-pie-chart.min.js'}}"></script>
    <!-- Charts plugin -->
    <script src="{{static 'cms/js/jquery.flot.min.js'}}"></script>
    <!-- Pie charts plugin -->
    <script src="{{static 'cms/js/jquery.flot.pie.min.js'}}"></script>
    <!-- Bar charts plugin -->
    <script src="{{static 'cms/js/jquery.flot.bar.order.min.js'}}"></script>
    <!-- Charts resizable plugin -->
    <script src="{{static 'cms/js/jquery.flot.resize.min.js'}}"></script>
    <!-- calendar plugin -->
    <script src="{{static 'cms/js/fullcalendar.min.js'}}"></script>
    <!-- chosen plugin -->
    <script src="{{static 'cms/js/chosen.jquery.min.js'}}"></script>
    <!-- Scrollable navigation -->
    <script src="{{static 'cms/js/jquery.nicescroll.min.js'}}"></script>
    <!-- Growl Like notifications -->
    <script src="{{static 'cms/js/jquery.gritter.min.js'}}"></script>
    <!-- dataTables plugin -->
    <script src="{{static 'cms/js/jquery.dataTables.min.js'}}"></script>
    <!-- TableTools for dataTables plguin -->
    <script src="{{static 'cms/js/TableTools.min.js'}}"></script>

    <!-- file upload plugin -->
    <script src="{{static 'cms/js/bootstrap-fileupload.min.js'}}"></script>

    <!-- Form plugin -->
    <script src="{{static 'cms/js/jquery.form.min.js'}}"></script>
    <!-- Validation plugin -->
    <script src="{{static 'cms/js/jquery.validate.min.js'}}"></script>
    <!-- Additional methods for validation plugin -->
    <script src="{{static 'cms/js/additional-methods.min.js'}}"></script>
    <!-- Notify plugin -->
    <script src="{{static 'cms/js/bootstrap-notify.min.js'}}"></script>

    <!-- Just for demonstration -->
    <script src="{{static 'cms/js/demonstration.min.js'}}"></script>
    <!-- Theme framework -->
    <script src="{{static 'cms/js/eakroko.min.js'}}"></script>
    <!-- Theme scripts -->
    <script src="{{static 'cms/js/application.min.js'}}"></script>
    <link rel="shortcut icon" href="{{static 'favicon.ico'}}" />
    <link rel="apple-touch-icon-precomposed" href="{{static 'apple-touch-icon-precomposed.png'}}" />

</head>

<body data-layout="fixed">
{{{ body }}}
{{{ _sections.scripts }}}
</body>

</html>