
<!-- PRELOADER -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->

<!-- WRAPPER -->
<div class="wrapper">

    <!-- NAVIGATION -->
    {{>nav}}
    <!-- /NAVIGATION -->

    <!-- HERO -->
    <section id="hero" class="module-hero module-parallax module-full-height bg-film" >

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h5 class="mh-line-size-4 font-alt m-b-50">Simple &amp; Powerful</h5>
                <h1 class="mh-line-size-1 font-alt m-b-60">帮你开启财富之门</h1>
                <h5 class="mh-line-size-5 font-alt m-b-50">Every mountain top is within reach if you just keep climbing.</h5>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- CLIENTS -->
    <section class="module module-parallax bg-light-60" data-background="/images/section-3.jpg">

        <div class="container">

            <div class="row">

                <!-- Owl-carousel start -->
                <div class="slider-clients owl-carousel text-center">
                    {{#each works}}
                        <!-- Client logo start -->
                        <div class="owl-item">
                            <div class="col-sm-12">
                                <div class="client-item">
                                    <a href="{{link}}"><img src="/uploads/{{imgPath}}" alt="{{desc}}"></a>
                                </div>
                            </div>
                        </div>
                        <!--  Client logo end -->
                    {{/each}}

                </div>
                <!-- Owl-carousel end -->

            </div>

        </div>

    </section>
    <!-- /CLIENTS -->


    <!-- FOOTER -->
    <section class="module-small bg-light">

        <div class="container">



            <div class="row m-t-40">

                <div class="col-sm-6">
                    <h5 class="font-alt m-t-0 m-b-20">Connect</h5>
                    Email: wanga503@outlook.com
                    <br>
                    Phone: +086 15618892632
                </div>

                <div class="col-sm-6">
                    <h5 class="font-alt m-t-0 m-b-20">Useful links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about">About</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/work">Works</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>


            </div>

        </div>

    </section>

    <hr class="divider"><!-- DIVIDER -->

    <footer class="module-small bg-light p-t-30 p-b-30">

        <div class="container">

            <div class="col-sm-12">
                <p class="copyright text-center m-b-0">© 2016 <a href="/">Alexa</a>, All Rights Reserved.</p>
            </div>

        </div>

    </footer>
    <!-- /FOOTER -->

</div>
<!-- /WRAPPER -->

<!-- SCROLLTOP -->
<div class="scroll-up">
    <a href="index.html#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
{{#section 'scripts'}}
    <!-- Javascript files -->
    <script src="{{static 'js/jquery-2.1.3.min.js'}}"></script>
    <script src="{{static 'bootstrap/js/bootstrap.min.js'}}"></script>
    <script src="{{static 'js/jquery.superslides.min.js'}}"></script>
    <script src="{{static 'js/jquery.mb.YTPlayer.min.js'}}"></script>
    <script src="{{static 'js/jquery.magnific-popup.min.js'}}"></script>
    <script src="{{static 'js/owl.carousel.min.js'}}"></script>
    <script src="{{static 'js/jquery.simple-text-rotator.min.js'}}"></script>
    <script src="{{static 'js/imagesloaded.pkgd.js'}}"></script>
    <script src="{{static 'js/isotope.pkgd.min.js'}}"></script>
    <script src="{{static 'js/packery-mode.pkgd.min.js'}}"></script>
    <script src="{{static 'js/appear.js'}}"></script>
    <script src="{{static 'js/jquery.easing.1.3.js'}}"></script>
    <script src="{{static 'js/wow.min.js'}}"></script>
    <script src="{{static 'js/jqBootstrapValidation.js'}}"></script>
    <script src="{{static 'js/jquery.fitvids.js'}}"></script>
    <script src="{{static 'js/jquery.parallax-1.1.3.js'}}"></script>
    <script src="{{static 'js/smoothscroll.js'}}"></script>
    <script src="{{static 'js/contact.js'}}"></script>
    <script src="{{static 'js/custom.js'}}"></script>
{{/section}}
{{>wxShare}}