{{> top}}
<div id="main">
    {{> navigation}}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-home"></i> {{title}}</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="/cms">Home</a><span class="divider">/</span></li>
                    <li class='active'>{{title}}</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-head">
                            <i class="icon-table"></i>
                            <span>{{title}}</span>
                        </div>
                        <div class="box-body box-body-nopadding">
                            <!--<div class="highlight-toolbar">
                                <div class="pull-left"><div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a href="#" class='button button-basic button-icon' rel="tooltip" title="Archive"><i class="icon-inbox"></i></a>
                                        <a href="#" class='button button-basic button-icon' rel="tooltip" title="Mark as spam"><i class="icon-exclamation-sign"></i></a>
                                        <a href="#" class='button button-basic button-icon' rel="tooltip" title="Delete"><i class="icon-trash"></i></a>
                                    </div>
                                </div></div>
                                <div class="pull-right">
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <span><strong>1-25</strong> of <strong>1</strong></span>
                                        </div>
                                        <div class="btn-group">
                                            <a href="#" class="button button-basic button-icon" data-toggle="dropdown"><i class="icon-angle-left"></i></a>
                                            <a href="#" class="button button-basic button-icon" data-toggle="dropdown"><i class="icon-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <table class="table table-nomargin table-bordered table-pagination">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>创建者</th>
                                    <th>创建者IP</th>
                                    <th>参与者</th>
                                    <th>参与者IP</th>
                                    <th>创建日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each games}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{creatorId}}</td>
                                        <td>{{ipAddress}}</td>
                                        <td>{{playerId}}</td>
                                        <td>{{playerIpAddress}}</td>
                                        <td>{{createdAt}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <div class="bottom-table">
                                <div class="pull-left">
                                        总{{total}}条记录
                                    <!--<a href="#" class="button button-basic">Another button</a>-->
                                </div>
                                <div class="pull-right">
                                    <div class="pagination pagination-custom">
                                        {{{paginateHelper pagination paginationClass='some' leftText='<i class="icon-double-angle-left"></i>' rightText='<i class="icon-double-angle-right"></i>'}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> bottom}}

{{#section 'scripts'}}
    <script>
        $(document).ready(function () {
            var options = {
                element: '#box-body',
                position: 'absolute',
                type: 'minimalist',
                z_index: 2000,
                delay: 2000,
                offset: {x: 0, y: 200},
                progressbar: false,
                placement: {
                    from: 'bottom',
                    align: 'center'
                }
            };
            $('.delete').on('click', function () {
                var obj = $(this).parent('td').parent('tr');
                var url = $(this).attr('href');
                if (confirm('此操作不可返回,是否继续?')){
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        dataType: 'json',
                        success: function (data) {
                            if (data.code == 0)
                                obj.remove();
                            else
                                    $.notify(data.message, options);
                        }
                    })
                    obj.remove();
                }

                return false;
            })
        });
    </script>
{{/section}}
