{{> top}}
<div id="main">
    {{> navigation}}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-home"></i> {{title}}</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="/cms">Home</a><span class="divider">/</span></li>
                    <li class='active'>{{title}}</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-head">
                            <i class="icon-list-ul"></i>
                            <span>{{title}}</span>
                        </div>
                        <div class="box-body box-body-nopadding" id="box-body" style="position: relative;">
                            <form class="form-horizontal form-bordered form-validate" enctype="multipart/form-data" method="POST" action="{{formUrl}}" id="work-add">
                                <div class="control-group">
                                    <label class="control-label" for="title">网站标题</label>
                                    <div class="controls">
                                        <input type="text" data-rule-minlength="2" data-rule-required="true" class="input-xlarge" id="title" name="title" value="{{work.title}}" >
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="link">网站地址</label>
                                    <div class="controls">
                                        <input type="text" data-rule-minlength="2" data-rule-required="true" class="input-xlarge" id="link" name="link" placeholder="http://" value="{{work.link}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="desc">网站描述</label>
                                    <div class="controls">
                                        <textarea class="span8 ui-wizard-content ui-helper-reset ui-state-default" name="desc" rows="4">{{work.desc}}</textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="textfield">缩略图片</label>
                                    <div class="controls">
                                        <div data-provides="fileupload" class="fileupload fileupload-new"><input type="hidden" value="" name="">
                                            <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail"><img src="{{#if work.imgPath}}/uploads/{{work.imgPath}}{{else}}{{static 'cms/img/no-image.png'}}{{/if}}"></div>
                                            <div style="max-width: 200px; max-height: 150px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                            <div>
                                                <span class="button button-basic btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file" name="imgFile" ></span>
                                                <a data-dismiss="fileupload" class="button button-basic fileupload-exists" href="extended-forms.html#">移除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="submit" value="提交" id="work-submit" class="button button-basic-blue">
                                    <button class="button button-basic" type="button" id="work-cancel">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> bottom}}
{{#section 'scripts'}}
    <script>
        $(document).ready(function () {
            var options = {
                element:'#box-body',
                position:'absolute',
                type: 'minimalist',
                z_index: 2000,
                delay: 2000,
                offset: {x:0,y:200},
                progressbar:false,
                placement: {
                    from: 'bottom',
                    align: 'center'
                }
            };


            $('#work-cancel').on('click',function () {
                $('#work-add')[0].reset();
            })
            $('#work-add').submit(function () {
                var url = $(this).attr('action');
                var formData = new FormData($(this)[0]);
                var file = $(':file[name=imgFile]');
                /*
                if ( !file || !file[0] || !file[0].files[0]){
                    //alert('请选择图片~');
                    $.notify({
                        message: '请选择图片~'
                    }, options);
                }
                else
                 */
                if ( file && file[0] && file[0].files[0] && file[0].files[0].size/1024 > 10240 ){
                    $.notify({
                        message: '图片过大,不能超过10M'
                    }, options);
                }
                else if ( file && file[0] && file[0].files[0] && ('.jpg.jpeg.png.gif').indexOf(file[0].files[0].name.toLowerCase()) === '-1' ){
                    $.notify({
                        message: '图片格式不正确,只能上传jpg或者png'
                    }, options);
                    alert(file[0].files[0].name.toLowerCase());
                }
                else{
                    $.ajax({
                        url: url,
                        type : 'POST',
                        data : formData,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,  // tell jQuery not to set contentType
                        success : function(json) {
                            console.log(json);
                            if (json.code == 0){
                                options.onClose = function () {
                                    location.href = '/cms/works'
                                }
                                options.delay = 1000;
                                $.notify({
                                    message: '提交成功~'
                                }, options);

                            }
                            else{
                                $.notify({
                                    message: json.message
                                }, options);
                            }
                            $('#work-submit').prop('disabled',false);
                        },
                        beforeSend : function () {
                            options.delay = 0;
                            $.notify({
                                message: '数据上传中...',
                                type: 'info'
                            }, options);
                            $('#work-submit').prop('disabled',true);
                        },
                        error : function ( jqXHR, textStatus, errorThrown) {
                            $.notify({
                                message: '上传失败~'+textStatus
                            }, options);
                            $('#work-submit').prop('disabled',false);
                        }
                    })
                }
                return false;
            })
        })
    </script>
{{/section}}